# Loading dependents
***

In [79]:
import pandas as pd
import numpy as np

# Reading files
***

In [80]:
school_data = 'Downloads/school_data.csv'
student_data = 'Downloads/student_data.csv'

In [81]:
school_data_df = pd.read_csv(school_data, encoding = 'ISO-8859-1')
student_data_df = pd.read_csv(student_data, encoding = 'ISO-8859-1')

# Performing district report calculations
***

In [82]:
school_data_df = school_data_df.rename(columns={'name':'school'})
total_school_budget = school_data_df['budget'].sum()
number_schools = school_data_df['school'].count()
number_students = student_data_df['name'].count()
avg_math_score = student_data_df['math_score'].mean()
avg_reading_score = student_data_df['reading_score'].mean()
number_passing_math = student_data_df[student_data_df.loc[:, 'math_score'] > 70].count()['name']
number_passing_reading = student_data_df[student_data_df.loc[:, 'reading_score'] > 70].count()['name']
pct_students_passing_math = number_passing_math / number_students
pct_students_passing_reading = number_passing_reading / number_students
overall_passing_rate = (pct_students_passing_math + pct_students_passing_reading) / 2

# District report variable formatting
***

In [83]:
pct_students_passing_math = '{:,.2%}'.format(pct_students_passing_math)
pct_students_passing_reading = '{:,.2%}'.format(pct_students_passing_reading)
overall_passing_rate = '{:,.2%}'.format(overall_passing_rate)
avg_math_score = '%.1f' % avg_math_score
avg_reading_score = '%.1f' % avg_reading_score

# District report output/formating
***

In [84]:
#Output to screen
district_report = pd.DataFrame({'Total Schools': [number_schools],
                                'Total Students':[number_students],
                                'Total Budget':[total_school_budget],
                                'Avg Math Score':[avg_math_score],
                                'Avg Reading Score':[avg_reading_score],
                                '% Passing Math':[pct_students_passing_math],
                                '% Passing Reading':[pct_students_passing_reading],
                                'Overall Passing Rate':[overall_passing_rate]})
district_report = district_report[['Total Schools',
                                   'Total Students',
                                   'Total Budget',
                                   'Avg Math Score',
                                   'Avg Reading Score',
                                   '% Passing Math',
                                   '% Passing Reading',
                                   'Overall Passing Rate']]
district_report

,Total Schools,Total Students,Total Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,39170,24649428,79.0,81.9,72.39%,82.97%,77.68%

# Writing output to an excel file
***

In [85]:
# Export to excel and remove index
district_report.to_excel("Downloads/District_report.xlsx", index=False)

# School Summary Report - Calculations
***

In [86]:
sorted_school_data = school_data_df.sort_values('school')
sorted_school_data['per student budget'] = sorted_school_data['budget'] / sorted_school_data['size']

In [87]:
temp_school_report = sorted_school_data[['school', 'type', 'size', 'budget', 'per student budget']]

In [88]:
avg_math_score = student_data_df.groupby(by='school', as_index=False)['math_score'].mean()

In [89]:
temp_school_report = pd.merge(temp_school_report, avg_math_score, on='school')

In [90]:
temp_school_report = temp_school_report.rename(columns={'math_score':'avg math score'})

In [91]:
avg_reading_score = student_data_df.groupby(by='school', as_index=False)['reading_score'].mean()

In [92]:
temp_school_report = pd.merge(temp_school_report, avg_reading_score, on='school')

In [93]:
temp_school_report = temp_school_report.rename(columns={'reading_score':'avg reading score'})

In [94]:
passing_math = student_data_df[student_data_df['math_score'] > 70]
passing_math = passing_math.groupby(by='school', as_index=False)['math_score'].count()
passing_math = passing_math.rename(columns={'math_score':'# passing math'})

In [95]:
temp_school_report = pd.merge(temp_school_report, passing_math, on='school')
temp_school_report['% passing math'] = temp_school_report['# passing math'] / temp_school_report['size']

In [96]:
passing_reading = student_data_df[student_data_df['reading_score'] > 70]
passing_reading = passing_reading.groupby(by='school', as_index=False)['reading_score'].count()
passing_reading = passing_reading.rename(columns={'reading_score':'# passing reading'})

In [97]:
temp_school_report = pd.merge(temp_school_report, passing_reading, on='school')
temp_school_report['% passing reading'] = temp_school_report['# passing reading'] / temp_school_report['size']

In [98]:
temp_school_report['% overall passing'] = (temp_school_report['% passing math'] + temp_school_report['% passing reading']) / 2

# School Report Output
***

In [99]:
final_school_report = temp_school_report[['school',
                                           'type',
                                           'size',
                                           'budget',
                                           'per student budget',
                                           'avg math score',
                                           'avg reading score',
                                           '% passing math',
                                           '% passing reading',
                                           '% overall passing']]
final_school_report

,school,type,size,budget,per student budget,avg math score,avg reading score,% passing math,% passing reading,% overall passing
0,Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.646302,0.793006,0.719654
1,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.895587,0.938644,0.917115
2,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.637504,0.784334,0.710919
3,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.657539,0.775100,0.716320
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.897139,0.933924,0.915531
5,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.647465,0.781877,0.714671
6,Holden High School,Charter,427,248087,581.0,83.803279,83.814988,0.906323,0.927400,0.916862
7,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.633185,0.788138,0.710662
8,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.638521,0.782819,0.710670
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.916840,0.922037,0.919439
10,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.640660,0.777444,0.709052
11,Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,0.898921,0.926178,0.912550
12,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.902141,0.929052,0.915596
13,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.909330,0.932545,0.920937
14,Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.902778,0.934444,0.918611

# Formating entire table with percents and decimals
***

In [100]:
final_school_report['avg math score'] = pd.Series(round(val, 1) for val in final_school_report.loc[:, 'avg math score'])
final_school_report['avg reading score'] = pd.Series(round(val, 1) for val in final_school_report.loc[:, 'avg reading score'])
final_school_report['% passing math'] = pd.Series("{0:.1f}%".format(val * 100) for val in final_school_report.loc[:, '% passing math'])
final_school_report['% passing reading'] = pd.Series("{0:.1f}%".format(val * 100) for val in final_school_report.loc[:, '% passing reading'])
final_school_report['% overall passing'] = pd.Series("{0:.1f}%".format(val * 100) for val in final_school_report.loc[:, '% overall passing'])
final_school_report

/Users/jeffmoore/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/jeffmoore/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/jeffmoore/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/jeffmoore/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/jeffmoore/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

,school,type,size,budget,per student budget,avg math score,avg reading score,% passing math,% passing reading,% overall passing
0,Bailey High School,District,4976,3124928,628.0,77.0,81.0,64.6%,79.3%,72.0%
1,Cabrera High School,Charter,1858,1081356,582.0,83.1,84.0,89.6%,93.9%,91.7%
2,Figueroa High School,District,2949,1884411,639.0,76.7,81.2,63.8%,78.4%,71.1%
3,Ford High School,District,2739,1763916,644.0,77.1,80.7,65.8%,77.5%,71.6%
4,Griffin High School,Charter,1468,917500,625.0,83.4,83.8,89.7%,93.4%,91.6%
5,Hernandez High School,District,4635,3022020,652.0,77.3,80.9,64.7%,78.2%,71.5%
6,Holden High School,Charter,427,248087,581.0,83.8,83.8,90.6%,92.7%,91.7%
7,Huang High School,District,2917,1910635,655.0,76.6,81.2,63.3%,78.8%,71.1%
8,Johnson High School,District,4761,3094650,650.0,77.1,81.0,63.9%,78.3%,71.1%
9,Pena High School,Charter,962,585858,609.0,83.8,84.0,91.7%,92.2%,91.9%
10,Rodriguez High School,District,3999,2547363,637.0,76.8,80.7,64.1%,77.7%,70.9%
11,Shelton High School,Charter,1761,1056600,600.0,83.4,83.7,89.9%,92.6%,91.3%
12,Thomas High School,Charter,1635,1043130,638.0,83.4,83.8,90.2%,92.9%,91.6%
13,Wilson High School,Charter,2283,1319574,578.0,83.3,84.0,90.9%,93.3%,92.1%
14,Wright High School,Charter,1800,1049400,583.0,83.7,84.0,90.3%,93.4%,91.9%

# Best Performing Schools (by % overall passing)
***

In [101]:
top_5_schools = final_school_report.sort_values('% overall passing', ascending=False)
top_5_schools.head(5)

,school,type,size,budget,per student budget,avg math score,avg reading score,% passing math,% passing reading,% overall passing
13,Wilson High School,Charter,2283,1319574,578.0,83.3,84.0,90.9%,93.3%,92.1%
9,Pena High School,Charter,962,585858,609.0,83.8,84.0,91.7%,92.2%,91.9%
14,Wright High School,Charter,1800,1049400,583.0,83.7,84.0,90.3%,93.4%,91.9%
1,Cabrera High School,Charter,1858,1081356,582.0,83.1,84.0,89.6%,93.9%,91.7%
6,Holden High School,Charter,427,248087,581.0,83.8,83.8,90.6%,92.7%,91.7%

# Worst Performing Schools (by % overall passing)
***

In [102]:
bottom_5_schools = final_school_report.sort_values('% overall passing', ascending=False)
bottom_5_schools.tail(5)

,school,type,size,budget,per student budget,avg math score,avg reading score,% passing math,% passing reading,% overall passing
5,Hernandez High School,District,4635,3022020,652.0,77.3,80.9,64.7%,78.2%,71.5%
2,Figueroa High School,District,2949,1884411,639.0,76.7,81.2,63.8%,78.4%,71.1%
7,Huang High School,District,2917,1910635,655.0,76.6,81.2,63.3%,78.8%,71.1%
8,Johnson High School,District,4761,3094650,650.0,77.1,81.0,63.9%,78.3%,71.1%
10,Rodriguez High School,District,3999,2547363,637.0,76.8,80.7,64.1%,77.7%,70.9%

# Math Scores by Grade (by School)
***

In [103]:
math_scores = student_data_df.groupby(['school','grade'], as_index=False)['math_score'].mean()
math_scores = math_scores.pivot(index='school', columns='grade')['math_score']
math_scores = math_scores[['9th', '10th', '11th', '12th']]
math_scores['9th'] = math_scores['9th'].map('{:,.1f}'.format)
math_scores['10th'] = math_scores['10th'].map('{:,.1f}'.format)
math_scores['11th'] = math_scores['11th'].map('{:,.1f}'.format)
math_scores['12th'] = math_scores['12th'].map('{:,.1f}'.format)
math_scores

grade                   9th  10th  11th  12th
school
Bailey High School     77.1  77.0  77.5  76.5
Cabrera High School    83.1  83.2  82.8  83.3
Figueroa High School   76.4  76.5  76.9  77.2
Ford High School       77.4  77.7  76.9  76.2
Griffin High School    82.0  84.2  83.8  83.4
Hernandez High School  77.4  77.3  77.1  77.2
Holden High School     83.8  83.4  85.0  82.9
Huang High School      77.0  75.9  76.4  77.2
Johnson High School    77.2  76.7  77.5  76.9
Pena High School       83.6  83.4  84.3  84.1
Rodriguez High School  76.9  76.6  76.4  77.7
Shelton High School    83.4  82.9  83.4  83.8
Thomas High School     83.6  83.1  83.5  83.5
Wilson High School     83.1  83.7  83.2  83.0
Wright High School     83.3  84.0  83.8  83.6

# Reading Scores by Grade (by School)
***

In [104]:
reading_scores = student_data_df.groupby(['school','grade'], as_index=False)['reading_score'].mean()
reading_scores = reading_scores.pivot(index='school', columns='grade')['reading_score']
reading_scores = reading_scores[['9th', '10th', '11th', '12th']]
reading_scores['9th'] = reading_scores['9th'].map('{:,.1f}'.format)
reading_scores['10th'] = reading_scores['10th'].map('{:,.1f}'.format)
reading_scores['11th'] = reading_scores['11th'].map('{:,.1f}'.format)
reading_scores['12th'] = reading_scores['12th'].map('{:,.1f}'.format)
reading_scores

grade                   9th  10th  11th  12th
school
Bailey High School     81.3  80.9  80.9  80.9
Cabrera High School    83.7  84.3  83.8  84.3
Figueroa High School   81.2  81.4  80.6  81.4
Ford High School       80.6  81.3  80.4  80.7
Griffin High School    83.4  83.7  84.3  84.0
Hernandez High School  80.9  80.7  81.4  80.9
Holden High School     83.7  83.3  83.8  84.7
Huang High School      81.3  81.5  81.4  80.3
Johnson High School    81.3  80.8  80.6  81.2
Pena High School       83.8  83.6  84.3  84.6
Rodriguez High School  81.0  80.6  80.9  80.4
Shelton High School    84.1  83.4  84.4  82.8
Thomas High School     83.7  84.3  83.6  83.8
Wilson High School     83.9  84.0  83.8  84.3
Wright High School     83.8  83.8  84.2  84.1

# Spending analysis vs. % overall passing
***

In [105]:
bin_labels = ['Lowest', 'Low', 'Med', 'High']
bins=[575,600,625,650,660]
final_school_report['spending'] = pd.cut(final_school_report['per student budget'], bins=bins,labels=bin_labels, right=False)

/Users/jeffmoore/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [106]:
spend_report = final_school_report.loc[:, ['school', 'per student budget', 'avg math score', 'avg reading score', '% passing math','% passing reading', '% overall passing', 'spending']]
spend_report.sort_values('% overall passing', ascending=False)

,school,per student budget,avg math score,avg reading score,% passing math,% passing reading,% overall passing,spending
13,Wilson High School,578.0,83.3,84.0,90.9%,93.3%,92.1%,Lowest
9,Pena High School,609.0,83.8,84.0,91.7%,92.2%,91.9%,Low
14,Wright High School,583.0,83.7,84.0,90.3%,93.4%,91.9%,Lowest
1,Cabrera High School,582.0,83.1,84.0,89.6%,93.9%,91.7%,Lowest
6,Holden High School,581.0,83.8,83.8,90.6%,92.7%,91.7%,Lowest
4,Griffin High School,625.0,83.4,83.8,89.7%,93.4%,91.6%,Med
12,Thomas High School,638.0,83.4,83.8,90.2%,92.9%,91.6%,Med
11,Shelton High School,600.0,83.4,83.7,89.9%,92.6%,91.3%,Low
0,Bailey High School,628.0,77.0,81.0,64.6%,79.3%,72.0%,Med
3,Ford High School,644.0,77.1,80.7,65.8%,77.5%,71.6%,Med
5,Hernandez High School,652.0,77.3,80.9,64.7%,78.2%,71.5%,High
2,Figueroa High School,639.0,76.7,81.2,63.8%,78.4%,71.1%,Med
7,Huang High School,655.0,76.6,81.2,63.3%,78.8%,71.1%,High
8,Johnson High School,650.0,77.1,81.0,63.9%,78.3%,71.1%,High
10,Rodriguez High School,637.0,76.8,80.7,64.1%,77.7%,70.9%,Med

# Spending vs. School Size
***

In [107]:
bin_labels = ['Small', 'Medium', 'Large']
bins=[399,1000,3000,5001]
final_school_report['school size'] = pd.cut(final_school_report.loc[:, 'size'], bins=bins,labels=bin_labels, right=False)

In [108]:
size_report = final_school_report.loc[:, ['school','per student budget', 'avg math score', 'avg reading score', '% passing math','% passing reading', '% overall passing', 'spending','school size']]
size_report.sort_values('% overall passing', ascending=False)

,school,per student budget,avg math score,avg reading score,% passing math,% passing reading,% overall passing,spending,school size
13,Wilson High School,578.0,83.3,84.0,90.9%,93.3%,92.1%,Lowest,Medium
9,Pena High School,609.0,83.8,84.0,91.7%,92.2%,91.9%,Low,Small
14,Wright High School,583.0,83.7,84.0,90.3%,93.4%,91.9%,Lowest,Medium
1,Cabrera High School,582.0,83.1,84.0,89.6%,93.9%,91.7%,Lowest,Medium
6,Holden High School,581.0,83.8,83.8,90.6%,92.7%,91.7%,Lowest,Small
4,Griffin High School,625.0,83.4,83.8,89.7%,93.4%,91.6%,Med,Medium
12,Thomas High School,638.0,83.4,83.8,90.2%,92.9%,91.6%,Med,Medium
11,Shelton High School,600.0,83.4,83.7,89.9%,92.6%,91.3%,Low,Medium
0,Bailey High School,628.0,77.0,81.0,64.6%,79.3%,72.0%,Med,Large
3,Ford High School,644.0,77.1,80.7,65.8%,77.5%,71.6%,Med,Medium
5,Hernandez High School,652.0,77.3,80.9,64.7%,78.2%,71.5%,High,Large
2,Figueroa High School,639.0,76.7,81.2,63.8%,78.4%,71.1%,Med,Medium
7,Huang High School,655.0,76.6,81.2,63.3%,78.8%,71.1%,High,Medium
8,Johnson High School,650.0,77.1,81.0,63.9%,78.3%,71.1%,High,Large
10,Rodriguez High School,637.0,76.8,80.7,64.1%,77.7%,70.9%,Med,Large

# Spending vs. School Type
***

In [109]:
school_type = size_report.iloc[:, :9]
school_type['type'] = final_school_report.iloc[:, 1:2]
school_type.sort_values('% overall passing', ascending=False)

,school,per student budget,avg math score,avg reading score,% passing math,% passing reading,% overall passing,spending,school size,type
13,Wilson High School,578.0,83.3,84.0,90.9%,93.3%,92.1%,Lowest,Medium,Charter
9,Pena High School,609.0,83.8,84.0,91.7%,92.2%,91.9%,Low,Small,Charter
14,Wright High School,583.0,83.7,84.0,90.3%,93.4%,91.9%,Lowest,Medium,Charter
1,Cabrera High School,582.0,83.1,84.0,89.6%,93.9%,91.7%,Lowest,Medium,Charter
6,Holden High School,581.0,83.8,83.8,90.6%,92.7%,91.7%,Lowest,Small,Charter
4,Griffin High School,625.0,83.4,83.8,89.7%,93.4%,91.6%,Med,Medium,Charter
12,Thomas High School,638.0,83.4,83.8,90.2%,92.9%,91.6%,Med,Medium,Charter
11,Shelton High School,600.0,83.4,83.7,89.9%,92.6%,91.3%,Low,Medium,Charter
0,Bailey High School,628.0,77.0,81.0,64.6%,79.3%,72.0%,Med,Large,District
3,Ford High School,644.0,77.1,80.7,65.8%,77.5%,71.6%,Med,Medium,District
5,Hernandez High School,652.0,77.3,80.9,64.7%,78.2%,71.5%,High,Large,District
2,Figueroa High School,639.0,76.7,81.2,63.8%,78.4%,71.1%,Med,Medium,District
7,Huang High School,655.0,76.6,81.2,63.3%,78.8%,71.1%,High,Medium,District
8,Johnson High School,650.0,77.1,81.0,63.9%,78.3%,71.1%,High,Large,District
10,Rodriguez High School,637.0,76.8,80.7,64.1%,77.7%,70.9%,Med,Large,District

# Observations
***

4 of the 5 best performing schools spend the least per student. This is counter intuitive as most would think that spending more per student would mean that performance would be best.

All five of the top performing schools are charter school that are medium or small in size. This supports a notion that public schools don't offer the best education - leading many to select a charter school (semi-private school) vs. supporting public schools fully.

3 of the worst performing schools are large, public schools which supports the notion that parents should seek to place their child in a smaller school if possible.  Also noticed in the analysis is that these large schools often had the largest per student budget.